.wrapper {
    padding: 8px 0px;
    min-width: 223px;
    // box-shadow: rgb(0, 0, 0, 12%) 0px 4px 16px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    z-index: 1;
    // max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    display: flex;
    flex-direction: column;
}