.body {
  box-sizing: border-box;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  justify-content: space-around;
  /* border: 1px solid #c3c3c3; */
}
